<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">
    <style>
        .title {
            font-family: 'Inter', arial;
            font-weight: 800;
        }

        .dot {
            color: #3366ff;
        }

        .greeting {
            font-family: 'Inter', arial;
            font-weight: 400;
            text-transform: capitalize;
        }

        .text {
            font-family: 'Inter', arial;
            font-weight: 400;
        }

        .link {
            color: #3366ff;
        }
    </style>
</head>
<body>
  <h1 class="title">Flow<span class="dot">.</span></h1>

  <span th:text="#{email.verification.title(${username})}" class="text">Hello user,</span>

  <p th:text="#{email.verification.description}" class="text">
      Your account has been created successfully! In order to login you must activate your account by clicking
      the link down below.
  </p>

  <a th:href="'http://localhost:' + ${port} + '/api/v1/account/account-activation/' + ${userId}"
    href="www.google.com" class="text ">
      click here
  </a>

  <p th:text="#{email.verification.not-yours}" class="text">
      If you didn't create a flow account, ignore this email
  </p>
</body>
</html>
